html, body {
	margin: 0;
	padding: 0;
}

body {
	margin: auto;
	max-width: 2000px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.line {
	border-top: blanchedalmond solid 10px;
}

.container {
	max-width: 100%;
	height: 700px;
	position: relative;
	background-color: blanchedalmond;
	padding-top: 30px;
}

.background-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.background-image img {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	max-height: 700px;
}

.text {
	position: absolute;
	text-align: right;
	top: 50%;
	right: 20px;
	width: 60%;
	transform: translateY(-50%);
	font-size: 24px;
}

.list {
	padding: 20px;
	margin-top: 50px;
	text-align: center;
}

.list img {
	max-width: 200px;
	max-height: 70px;
	margin: 0 10px 10px 0;
}

footer {
	background-color: #f1f1f1;
	padding: 20px;
}

@media only screen and (max-width: 800px) {
	.container {
		height: 800px;
	}

	.text {
		width: 80%;
		text-shadow: 2px 2px #e9f9ff;
	}
}